# Comprensión de los Datos

In [4]:
#importa librerías
import pandas as pd
import matplotlib.pyplot as plt

# Descripción de Variables


Pregnancies: Número de embarazos. Variable numérica discreta.

Glucose: Concentración de glucosa plasmática a las 2 horas en una prueba oral de tolerancia. Variable numérica continua.

BloodPressure: Presión arterial diastólica en mmHg. Variable numérica continua.

SkinThickness: Espesor del pliegue cutáneo del tríceps en milímetros. Variable numérica continua.

Insulin: Insulina sérica en 2 horas (µU/ml). Variable numérica continua.

BMI: Índice de masa corporal (peso en kg / altura en m²). Variable numérica continua.

DiabetesPedigreeFunction: Puntaje que estima la probabilidad de diabetes en función de antecedentes familiares. Variable numérica continua.

Age: Edad en años. Variable numérica discreta.

Outcome: Diagnóstico de diabetes (0 = No, 1 = Sí). Variable categórica binaria.

**Ejemplo:** Crear un objeto DataFrame con base en un archivo .csv

In [5]:
#lee archivo csv
diabetes = pd.read_csv("diabetes.csv")

In [6]:
#Usa función shape para revisar el total de renglones y columnas
diabetes.shape

(768, 9)

In [7]:
#Revisa los primeros 5 renglones del dataset usando la función head()
diabetes.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [8]:
#Revisa los últimos 5 renglones del dataset usando la función tail()
diabetes.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
#Revisa la información mas completa del conjunto de datos usando la función info()
#Muestra el total de datos, las columnas y su tipo correspondiente, dice si contiene nulos o no
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
#revisa cuántos valores únicos tiene cada atributo del archivo usando la función nunique()
diabetes.nunique()

Pregnancies                  17
Glucose                     136
BloodPressure                47
SkinThickness                51
Insulin                     186
BMI                         248
DiabetesPedigreeFunction    517
Age                          52
Outcome                       2
dtype: int64

## Exploración de Datos

In [10]:
#utiliza la función describe() para obtener estadística básica. se puede incluir -0
diabetes.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
#Revisa Valores nulos con funcion isnull().sum()
diabetes.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [19]:
#Revisar valores únicos por columna usando función unique(): nombre-columna.unique()
diabetes.Insulin.unique()

array([  0,  94, 168,  88, 543, 846, 175, 230,  83,  96, 235, 146, 115,
       140, 110, 245,  54, 192, 207,  70, 240,  82,  36,  23, 300, 342,
       304, 142, 128,  38, 100,  90, 270,  71, 125, 176,  48,  64, 228,
        76, 220,  40, 152,  18, 135, 495,  37,  51,  99, 145, 225,  49,
        50,  92, 325,  63, 284, 119, 204, 155, 485,  53, 114, 105, 285,
       156,  78, 130,  55,  58, 160, 210, 318,  44, 190, 280,  87, 271,
       129, 120, 478,  56,  32, 744, 370,  45, 194, 680, 402, 258, 375,
       150,  67,  57, 116, 278, 122, 545,  75,  74, 182, 360, 215, 184,
        42, 132, 148, 180, 205,  85, 231,  29,  68,  52, 255, 171,  73,
       108,  43, 167, 249, 293,  66, 465,  89, 158,  84,  72,  59,  81,
       196, 415, 275, 165, 579, 310,  61, 474, 170, 277,  60,  14,  95,
       237, 191, 328, 250, 480, 265, 193,  79,  86, 326, 188, 106,  65,
       166, 274,  77, 126, 330, 600, 185,  25,  41, 272, 321, 144,  15,
       183,  91,  46, 440, 159, 540, 200, 335, 387,  22, 291, 392, 178,
       127, 510,  16, 112])

In [15]:
diabetes['Pregnancies'].unique()

array([ 6,  1,  8,  0,  5,  3, 10,  2,  4,  7,  9, 11, 13, 15, 17, 12, 14])

## Variables Cuantitativas

### Medidas de tendencia central

In [16]:
#Edad
#Se puede obtener la media, mediana y moda para
mean_age = diabetes['Age'].mean()
median_age =diabetes['Age'].median()
mode_age = diabetes['Age'].mode()
print("Mean_age:",mean_age)
print("Median_age:",median_age)
print("Mode_age:",mode_age)

Mean_age: 33.240885416666664
Median_age: 29.0
Mode_age: 0    22
Name: Age, dtype: int64

Conclusiones:
La edad promedio fue 29
La edad al centro es 28
La edad más repetida fue de 24

# Variables Categóricas

In [20]:
#Para conteo  de cada valor en una columna, en orden descendente usar función value_counts():    
# nombreDataframe.columna.value_counts()
# nombreDataframe['columna'].value_counts()
diabetes.Insulin.value_counts()

Insulin
0      374
105     11
130      9
140      9
120      8
      ...
178      1
127      1
510      1
16       1
112      1
Name: count, Length: 186, dtype: int64

In [21]:
#Revisa conteo de varias columnas
diabetes.Insulin.value_counts()

Insulin
0      374
105     11
130      9
140      9
120      8
      ...
178      1
127      1
510      1
16       1
112      1
Name: count, Length: 186, dtype: int64

In [22]:
# Crear variable familySize que incluya la suma de las columnas SibSp y Parch
# Mostrar el total por cada tamaño de familia
diabetes['FamilySize'] = diabetes['SibSp'] + diabetes['Parch']+1

In [23]:
diabetes['FamilySize'].value_counts()

FamilySize
1     537
2     161
3     102
4      29
6      22
5      15
7      12
11      7
8       6
Name: count, dtype: int64

In [24]:
diabetes.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1

## Consulta

In [22]:
# df.iloc[i]: Accede a la fila en la posición i.
# Acceder a la primera fila
diabetes.iloc[0]

Pregnancies                   6.000
Glucose                     148.000
BloodPressure                72.000
SkinThickness                35.000
Insulin                       0.000
BMI                          33.600
DiabetesPedigreeFunction      0.627
Age                          50.000
Outcome                       1.000
Name: 0, dtype: float64

In [23]:
# Acceder a las dos primeras filas
diabetes.iloc[:2]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [25]:
#Seleccionar columnas, indicando entre corchetes [nombreColumna, nombreColumna]
diabetes[['BMI', 'Insulin']]

      BMI  Insulin
0    33.6        0
1    26.6        0
2    23.3        0
3    28.1       94
4    43.1      168
..    ...      ...
763  32.9      180
764  36.8        0
765  26.2      112
766  30.1        0
767  30.4        0

[768 rows x 2 columns]

In [27]:
#Selección de filas [indicar dataframe[columna] operador valor]
sobrepeso = diabetes[diabetes['BMI']>=25]

In [29]:
sobrepeso.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0

In [31]:
#ordenar usando funcion sort_values(by=atributo, ascending=True/false)
sobrepeso.sort_values(by='DiabetesPedigreeFunction', ascending=False)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
445,0,180,78,63,14,59.4,2.420,25,1
228,4,197,70,39,744,36.7,2.329,31,0
4,0,137,40,35,168,43.1,2.288,33,1
370,3,173,82,48,465,38.4,2.137,25,1
45,0,180,66,39,0,42.0,1.893,25,1
...,...,...,...,...,...,...,...,...,...
135,2,125,60,20,140,33.8,0.088,31,0
598,1,173,74,0,0,36.8,0.088,38,1
149,2,90,70,17,0,27.3,0.085,22,0
567,6,92,62,32,126,32.0,0.085,46,0
268,0,102,52,0,0,25.1,0.078,21,0

In [32]:
#Agrupar por un atributo y calcular función de agregación utilizando groupby(atributo)['atributoAgregacion].funcion() (ej. mean() para promedio)
sobrepeso.groupby('Outcome')['Glucose'].mean()

Outcome
0    111.711735
1    140.980695
Name: Glucose, dtype: float64

Crea un subconjunto de **diabetes** para el costo mayor a 500

In [19]:
# usa el criterio para extraer solo los boletos caros con fare > 50